body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.pagina {
  padding: 40px;
}

header {
  text-align: center;
  padding: 10px 0px 50px 0px;
}

header img {
  height: auto;
  width: 600px;
  border-radius: 10px;

}
header h1 {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.grade-produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  width: 250px;
}

.card img {
  width: 100%;
  display: block;
}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s;
}

.card:hover .img2 {
  opacity: 1;
  transform: scale(1.05);
}

.produto {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 8px;
}

.produto h2 {
  margin: 15px 0 5px;
}

.info {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: black;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}